<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.group8.mapper.UserMapper">
    <resultMap id="UserResultMap" type="com.group8.entity.User">
        <id property="id" column="id" />
        <result property="username" column="username" />
        <result property="password" column="password" />
        <result property="userType" column="user_type" />
        <result property="status" column="status" />
        <result property="createTime" column="create_time" />
        <result property="updateTime" column="update_time" />
    </resultMap>
    
    <select id="getById" resultMap="UserResultMap">
        SELECT 
            id, username, password, user_type, status, create_time, update_time
        FROM users
        WHERE id = #{id}
    </select>
    
    <select id="getByUsername" resultMap="UserResultMap">
        SELECT 
            id, username, password, user_type, status, create_time, update_time
        FROM users
        WHERE username = #{username}
    </select>
    
    <select id="list" resultMap="UserResultMap">
        SELECT 
            id, username, password, user_type, status, create_time, update_time
        FROM users
        <where>
            <if test="params.username != null and params.username != ''">
                AND username LIKE CONCAT('%', #{params.username}, '%')
            </if>
            <if test="params.status != null">
                AND status = #{params.status}
            </if>
            <if test="params.userType != null">
                AND user_type = #{params.userType}
            </if>
        </where>
        ORDER BY create_time DESC
        <if test="params.offset != null and params.limit != null">
            LIMIT #{params.offset}, #{params.limit}
        </if>
    </select>
    
    <select id="count" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM users
        <where>
            <if test="params.username != null and params.username != ''">
                AND username LIKE CONCAT('%', #{params.username}, '%')
            </if>
            <if test="params.status != null">
                AND status = #{params.status}
            </if>
            <if test="params.userType != null">
                AND user_type = #{params.userType}
            </if>
        </where>
    </select>
    
    <insert id="create" parameterType="com.group8.entity.User" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO users (
            username, password, user_type, status, create_time, update_time
        ) VALUES (
            #{username}, #{password}, #{userType}, #{status}, NOW(), NOW()
        )
    </insert>
    
    <update id="update" parameterType="com.group8.entity.User">
        UPDATE users
        SET 
            username = #{username}, 
            password = #{password}, 
            user_type = #{userType}, 
            status = #{status}, 
            update_time = NOW()
        WHERE id = #{id}
    </update>
    
    <update id="updateStatus">
        UPDATE users
        SET status = #{status}, update_time = NOW()
        WHERE id = #{id}
    </update>
    
    <delete id="delete">
        DELETE FROM users WHERE id = #{id}
    </delete>
</mapper>